#home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 650px;
  width: 650px;
}

#nav {
  text-align: center;
  
}

#heading {
  text-align: center;
  
}

#cart-nav {
  

}

#shop-nav {
  
  
}